* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

.navbar-home {
    background-color: #aed5a7;
    display: flex;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-home h1 {
    padding: 10px 20px;
    font-size: 35px;
    color: #333;  
    cursor: pointer; 
}

.navbar-home ul {
    padding: 20px;
    list-style: none;
    display: flex;
}

.navbar-home ul li a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    color: whitesmoke;
}


.search-bar-home {
    background-color: white;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    height: 50px;
    width: 40%;
    border: 1px solid #ccc;
}
.search-bar-home input {
    font-family: 'Lato', sans-serif;
    color: #333;
    width: 100%;
    padding-left: 10px;
    background-color: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-bar-home input::placeholder {
    color: #ccc;
}

.search-icon {
    margin-left: 5px;
    color: #333;
}

.plus-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-color: #4caf50;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    margin: 10px 0 0 10px;
}

.plus-icon {
    color: #fff;
}

.user-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-color: #4caf50;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    margin: 10px 0 0 10px;
}

.user-icon-container img {
    width: 100%;
    border-radius: 50%;
}

.user-icon {
    color: #fff;
}

.username {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 20px 10px;
}

.messages {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
}

.messages:hover{
    color: #4CAF50;
}

.notification {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
}

.notification:hover{
    color: #4CAF50;
}

.user-info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

.collection-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: white;
}

.collections {
    margin: 120px 0 0 20px;
    width: 50px;
    height: 50px;
    color: #333;
    cursor: pointer;
}

.collections h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.card-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-behavior: smooth;
    padding-top: 20px;
}

.card-container::-webkit-scrollbar {
    height: 5px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #e1dee1;
    border-radius: 4px;
}

.card {
    display: flex;
    align-items: center;
    min-width: 280px;
    max-width: 200px;
    height: 120px;
    background-color: #e7f9e9;
    border-radius: 25px;
    flex-shrink: 0;
    border: 1px solid #cacaca;
    cursor: pointer;
}

.card-content{
    display: flex;
    align-items: center;
    width: 100%;
}

.card-content img {
    margin: 0 20px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.card-info h2 {
    margin: 0 5px;
    font-weight: 600;
    color: #333;
}

/*end of collections --------------------------------------------------------------------------------*/

.trending-section{
    background-color: #e7f9e9;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.trending {
    margin: 10px 0 0 20px;
    width: 50px;
    height: 50px;
    color: #333;
    cursor: pointer;
}

.trending h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.trending-card-container {
    height: 290px;
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    scroll-behavior: smooth;
    padding-top: 20px;
}

.trending-card-container::-webkit-scrollbar {
    height: 5px;
}

.trending-card-container::-webkit-scrollbar-thumb {
    background: #e1dee1;
    border-radius: 4px;
}

.trending-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 25px;
    flex-shrink: 0;
}

.trending-card-content{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trending-card-content:hover h2{
    text-decoration: underline;
}


.trending-card-img {
    width: inherit;
}

.trending-card-content img {
    width: 100%;
    border-radius: 20px;
}

.trending-card-content:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.trending-card-content:hover .heart-icon {
    opacity: 1;
}

.heart-icon {
    background-color: #6666665d;
    padding: 5px 3px 1px 3px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
  }

.trending-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.trending-card-info h2 {
    font-size: 16px;
    margin: 10px 5px;
    font-weight: 600;
    color: #333;
}

.other-info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.other-info i {
    font-size: 16px;
    color: #666;
}

.other-info p {
    color: #666;
    font-size: 14px;
    margin: 0 15px 0 5px;
}

/*end of trending section --------------------------------------------------------------------------------*/
.listing-section{
    background-color: white;
    width: 100%;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    padding-top: 40px;
}

.grid-item {
    cursor: pointer;
    justify-self: center;
    width: 170px;
    color: white;
    text-align: center;
    border-radius: 16px;
}

.grid-item-content{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-item-content:hover h2{
    text-decoration: underline;
}

.grid-item-content:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.grid-item-content:hover .heart-icon {
    opacity: 1;
}

.grid-item-content img {
    width: 100%;
    border-radius: 20px;
}

.grid-item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid-item-info h2 {
    text-align: left;
    max-lines: 3;
    font-size: 16px;
    margin: 10px 5px;
    font-weight: 600;
    color: #333;
}

.grid-other-info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-other-info i {
    font-size: 16px;
    color: #666;
}

.grid-other-info p {
    color: #666;
    font-size: 14px;
    margin: 0 15px 0 5px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 40px;
    align-items: end;
}  


  @media screen and (max-width: 1048px) {
    .search-bar-home{
        width: 50%;
    }
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
  }

@media screen and (max-width: 870px) {
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}