* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
}

.navbar-home {
    justify-content: space-evenly;
    background-color: #4caf50;
    display: flex;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-home h1 {
    padding: 10px 20px;
    font-size: 35px;
    color: whitesmoke;
    cursor: pointer; 
}

.navbar-home ul {
    padding: 20px;
    list-style: none;
    display: flex;
}

.navbar-home ul li a {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px 20px;
    color: whitesmoke;
}

.navbar-home ul li a:hover {
    color: white;
    text-decoration-color: #4CAF50 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}


.search-bar-home {
    background-color: white;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    height: 50px;
    width: 40%;
    border: 1px solid #ccc;
}
.search-bar-home input {
    font-family: 'Lato', sans-serif;
    color: #333;
    width: 100%;
    padding-left: 10px;
    background-color: none;
    border: none;
    outline: none;
    font-size: 15px;
}

.search-bar-home input::placeholder {
    color: #ccc;
}

.search-icon {
    margin-left: 5px;
    color: #333;
}

.plus-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-color: #4caf4f4a;
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    margin: 10px 0 0 10px;
}

.plus-icon {
    color: #fff;
}


/* User Dropdown */
.user-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-dropdown-icon {
    transition: transform 0.3s ease;
}

.user-dropdown-icon.rotate {
    transform: rotate(180deg);
}

.user-dropdown-trigger {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-dropdown-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.user-dropdown-name {
    font-weight: 500;
    font-size: 20px;
    color: whitesmoke;
    margin: 0;
}

.user-dropdown-icon {
    font-size: 20px;
    color: whitesmoke;
}

.user-dropdown-menu {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 90px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.user-dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.user-dropdown-profile {
    text-align: center;
    margin-bottom: 20px;
}

.user-dropdown-avatar {
    width: 60px;
    height: 60px;
    background-color: #e7e7e7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #555;
    margin: 0 auto 10px;
}

.user-dropdown-fullname {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0;
}

.user-dropdown-username {
    font-size: 15px;
    color: #777;
}

.user-dropdown-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}

.user-dropdown-stats div {
    font-size: 15px;
    color: #555;
}

.user-dropdown-stats div p:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.user-dropdown-settings button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
}

.user-dropdown-settings button:hover {
    background-color: #45a049;
}

.settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.settings-icon:hover {
    color: #333;
    transform: rotate(180deg);
    transition: color 0.3s ease, transform 0.3s
}


.messages {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
}

.messages i {
    font-size: 28px;
}

.notification {
    border-radius: 50%;
    color: white;
    cursor: pointer;
    margin: 20px 10px;
}

.notification i {
    font-size: 28px;
}

.user-info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin: 20px 0 20px 0;
}

.collection-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: white;
}

.collections {
    margin: 120px 0 0 20px;
    width: 50px;
    height: 50px;
    color: #333;
    cursor: pointer;
}

.collections h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #333;
}

.card-container {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 20px;
    scroll-behavior: smooth;
    padding-top: 20px;
}

.card-container::-webkit-scrollbar {
    height: 5px;
}

.card-container::-webkit-scrollbar-thumb {
    background: #e1dee1;
    border-radius: 4px;
}

.card {
    display: flex;
    align-items: center;
    min-width: 280px;
    max-width: 200px;
    height: 120px;
    background-color: #e2f3d1;
    border-radius: 25px;
    flex-shrink: 0;
    border: 1px solid #cacaca;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card-content{
    display: flex;
    align-items: center;
    width: 100%;
}

.card-content img {
    margin: 0 20px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.card-info h2 {
    margin: 0 5px;
    font-weight: 600;
    color: #333;
}

/*end of collections --------------------------------------------------------------------------------*/

.trending-section{
    /*background-color: #e7f9e9;*/
    background-image: url('../img/img-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.trending {
    margin: 10px 0 0 20px;
    width: 50px;
    height: 50px;
    color: #333;
    cursor: pointer;
}

.trending h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #333;
    padding-top: 10px;
}

.trending-card-container {
    height: 290px;
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 16px;
    scroll-behavior: smooth;
    padding-top: 20px;
}

.trending-card-container::-webkit-scrollbar {
    height: 5px;
}

.trending-card-container::-webkit-scrollbar-thumb {
    background: #e1dee1;
    border-radius: 4px;
}

.trending-card {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 25px;
    flex-shrink: 0;
}

.trending-card-content{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.trending-card-content:hover h2{
    text-decoration: underline;
}


.trending-card-img {
    width: inherit;
}

.trending-card-content img {
    width: 100%;
    border-radius: 20px;
}

.trending-card-content:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.trending-card-content:hover .heart-icon {
    opacity: 1;
}

.heart-icon {
    background-color: #6666665d;
    padding: 5px 3px 1px 3px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    opacity: 0;
    cursor: pointer;
  }

.trending-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.trending-card-info h2 {
    font-size: 16px;
    margin: 10px 5px;
    font-weight: 600;
    color: #333;
}

.other-info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.other-info i {
    font-size: 16px;
    color: #666;
}

.other-info p {
    color: #666;
    font-size: 14px;
    margin: 0 15px 0 5px;
}

/*end of trending section --------------------------------------------------------------------------------*/
.listing-section{
    background-color: white;
    width: 100%;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    padding-top: 40px;
}

.grid-item {
    cursor: pointer;
    justify-self: center;
    width: 170px;
    color: white;
    text-align: center;
    border-radius: 16px;
}

.grid-item-content{
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-item-content:hover h2{
    text-decoration: underline;
}

.grid-item-content:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.grid-item-content:hover .heart-icon {
    opacity: 1;
}

.grid-item-content img {
    width: 100%;
    border-radius: 20px;
}

.grid-item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid-item-info h2 {
    text-align: left;
    max-lines: 3;
    font-size: 16px;
    margin: 10px 5px;
    font-weight: 600;
    color: #333;
}

.grid-other-info{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-other-info i {
    font-size: 16px;
    color: #666;
}

.grid-other-info p {
    color: #666;
    font-size: 14px;
    margin: 0 15px 0 5px;
}

/*end of grid section*/

.collection-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 80px;
    background-color: #e2f3d1;

}

.accessories-collection {
    width: 100%;
    display: flex;
}

.left-collection-info {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 40%;
    height: 70vh;
}

.left-collection-info img {
    width: 290px;
    height: 290px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.right-collection-info {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 60%;
    height: 70vh;
}

.accessories-info{
    width: 65%;
}

.accessories-info h1 {
    color: #333;
    font-size: 50px;
    padding-bottom: 10px;
}

.accessories-info p {
    text-align: justify;
    color: #666;
}
/*end of accessories section page*********************************************************************************/

.item-info {
    background-color: white;
    width: 100%;
    height: 130vh;
    margin-top: 80px;
    display: flex;
}

.left-item-info {
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.item-info-pic {
    margin-left: 20px;
    width: 90px;
    height: 90px;
}

.item-info-pic img:nth-child(1) {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #4CAF50;
    margin: 0 0 10px 0;
}

.item-info-pic img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0 0 10px 0;
}

.item-info-pic-big{
    width: 75%;
    height: 450px;
    margin-right: 20px;
}

.item-info-pic-big img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.posting-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px 0 0;
}

.posting-info p {
    color: #666;
    font-size: 18px;
    font-weight: 600;
}

.posting-info-favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: #333;
    cursor: pointer;
}

.posting-info-favorite i {
    font-size: 25px;
    padding-right: 20px;
    color: #666;
}

.traded-by {
    padding-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    cursor: pointer;}

.posting-user {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.posting-user img {
    cursor: pointer;
    outline: 2px solid #4CAF50;
    margin-right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.posting-user p {
    cursor: pointer;
    font-size: 20px;
    color: #666;
    font-weight: 600;
}

.posting-user p:hover {
    text-decoration: underline;
}

.right-item-info {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-top: 30px;
}

.right-item-info h1 {
    color: #333;
    font-size: 40px;
    font-weight: 800;
    padding: 20px 0 10px 30px;
}

.start-chat-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 20px 30px 0 30px;
}

.start-chat-btn button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
}

.start-chat-btn button:hover {
    background-color: #45a049;
}

.start-chat-btn i {
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.item-description {
    display: flex;
    text-align: justify;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px 0 30px;
}

.item-description h2 {
    color: #333;
    font-size: 20px;
    padding: 20px 0 10px 0;
}

.item-description p {
    color: #666;
    font-size: 20px;
    padding: 10px 0;
}

.item-category {
    display: flex;
    text-align: justify;
    width: 100%;
    padding: 10px 30px 0 30px;
}

.item-category h2 {
    color: #333;
    font-size: 20px;
    padding: 20px 0;
}

.item-category p {
    color: #666;
    font-size: 20px;
    padding: 20px 30px;

}

.item-condition {
    display: flex;
    text-align: justify;
    width: 100%;
    padding: 0 30px 0 30px;
}

.item-condition h2 {
    color: #333;
    font-size: 20px;
    padding: 20px 0;
}

.item-condition p {
    text-align: left;
    color: #666;
    font-size: 20px;
    padding: 20px 30px;

}

.item-meeting-spot {
    display: flex;
    text-align: justify;
    width: 100%;
    padding: 0 30px 0 30px;
}

.item-meeting-spot h2 {
    color: #333;
    font-size: 20px;
    padding: 20px 0;
}

.item-meeting-spot p {
    color: #666;
    font-size: 20px;
    padding: 20px 30px;

}


footer{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 40px;
    align-items: end;
}  

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-trigger {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    z-index: 1000;
    color: #333;
    font-size: 20px;
    width: 250px;
}

.dropdown-menu p {
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    color: #333;
}

.dropdown-menu p:hover {
    color: #333;
    background-color: #f0f0f0;
    border-radius: 50px;
}

.dropdown-menu p:last-child {
    color: #f44336;
}

.dropdown-menu p:last-child:hover {
    background-color: #f44336;
    color: white;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 20px;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

.modal-content button {
    font-size: 20px;
    margin: 20px 10px 10px 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}


.modal-content button:first-child {
    background-color: #ccc;
}

.modal-content button:last-child {
    background-color: #4caf50;
    color: white;
}

.modal-content .delete-modal {
    background-color: #f44336!important;
    color: white;
}

/*end of modal**********************************************************************************/

.profile-section{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
    height: 70vh;
}

.profile-bg{
    background-image: url(../img/img-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.user-info-card{
    width: 80%;
    height: 300px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: absolute;
    top: 250px;
    left: 10%;
}

.user-profile-pic {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50px;
    left: 50px;
    
}

.user-profile-pic img {
    border: 3px solid #45a049;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-name{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 290px;
    padding-top: 40px;
    color: #333;
}

.user-name .profile-name {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3px;
    width: 200px;
}

.profile-username {
    padding-bottom: 30px;
    color: #666;
}

.meeting-spot {
    color: #666;
    padding-top: 2px;
    padding-bottom: 30px;
}

.user-preference {
    display: flex;
}

.meeting-spots p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3px;
    width: 200px;
}

.interests p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3px;
    width: 150px;
}

.profile-info {
    display: flex;
}

.profile-trades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 20px;
    color: #666;
}

.profile-trades p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
    width: 50px;
    color: #333;
}

.profile-following {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 20px;
    color: #666;

}

.profile-following p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3px;
    width: 50px;
    color: #333;
}

.profile-followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    margin: 0 20px;
    color: #666;
}

.profile-followers p:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 3px;
    width: 50px;
    color: #333;
}

.interests li {
    color: #666;
    padding: 3px;
}

.user-post{
    background-color: white;
}

.grid-container-user {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    padding-top: 110px;
    margin: 0 130px;
    
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    margin: 20px 0 8px 0;
}

.user-btn {
    display: flex;
    margin-left: 40px;
    height: 50px;
    align-items: center;
}

.user-btn button {
    background-color: white;
    color: #333;
    border: 1px;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 10px 10px 0 0;
    cursor: pointer;
    font-size: 20px;
}

.user-btn button:nth-child(1){
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #4CAF50;
    color: white;
}

.settings-section {
    margin-top: 80px;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.settings-left-section{
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: whitesmoke;
}

.settings {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

}

.settings h1 {
    color: #333;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 30px;
}

.settings p {
    cursor: pointer;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding : 0 0 30px 30px;
}

.settings p:nth-child(5){
    color: #f44336;
}

.settings p:nth-child(6) {
    color: #f44336;
}

.settings-right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.profile-pic {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.settings-profile-pic {
    width: 150px;
    height: 150px;    
}

.settings-profile-pic img {
    border: 3px solid #45a049;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-details h1 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 20px 50px;
}

.user-details h1:nth-child(1){
    padding-top: 30px;
}

.user-details p {
    color: #666;
    font-size: 20px;
    font-weight: 500;
}

.name, .username, .student-id, .meeting-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    border-radius: 50px;
    align-items: center;
    padding: 10px 15px;
    margin-top: 10px;
    height: 50px;
    width: 40%;
    border: 1px solid #ccc;
}





  @media screen and (max-width: 1048px) {
    .search-bar-home{
        width: 50%;
    }
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
  }

@media screen and (max-width: 870px) {
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .navbar-home ul {
        display: none;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}